<br>
<div class="container>" *ngIf="result != undefined">
  <div class="row">
    <div class="col-sm">
      Price: {{result.price}}
      <br>
      Seller's address: {{result.address}}
      <br>
      Seller's phone: {{result.phone}}
      <br>
      {{result.description}}
      <br>
    </div>
    <div class="col-sm">
      Make: {{result.carModel.make}}
      <br>
      Model: {{result.carModel.model}}
      <br>
      Year: {{result.carModel.year}}
      <br>
      Kilometers: {{result.carModel.Kilometers}}
      <br>
      Displacement: {{result.carModel.displacement}}
      <br>
      Horsepower: {{result.carModel.hp}}
    </div>
  </div>
</div>
